/* Header Section */
.header {
  background-color: #ddd5d5;
}
.header__name {
    font-weight: 800;
    padding: 15px 20px 0px;
}
.header__nav {
  background-color: black;
  color: white;
}
.header__items {
  display: flex;
  list-style-type: none;
  margin-bottom: 0px;
}
.header__items:first-child {
  padding-left: 0px;
}
.header__items li {
  border-right: 3px white solid;
  padding: 10px 10px;
  text-decoration: none;
}
.header__items li:hover {
  color: white;
  background-color: green;
}
.header__items li a {
  text-decoration: none;
  color: white;
  float: left;
}
/* Section  */
.section {
  display: flex;
}
.section__left {
    padding-left: 35px;
}
.section__left-heading {
    color: rgb(17, 17, 79);
    font-weight: 900;
    font-size: xx-large;
    padding-top: 10px;
    margin: 0px;
}
.section__left-content {
    margin: 5px;
    padding-bottom: 10px;
}
.section__right {
  background-color: #f5efef;
}
.section__right-heading {
    color:  rgb(17, 17, 79);
    font-size: x-large;
    margin: 20px 20px 0px;
}
.section__right-content {
    margin: 2px 25px 0px;
}
/* Footer Section */
.footer {
  background-color: #cccccc;
  text-align: right;
  padding: 15px;
}
